* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #000000;
}
#MainContent {
  overflow: hidden;
}
.nxt-container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.nxt-course__card {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.035) 0%,
    rgba(153, 56, 151, 0.175) 100%
  );
  border-radius: 8px;
  border: 1px solid #ffffff40;
  padding: 17px 19px;
}

.nxt-course__thumb {
  width: 100%;
  min-height: 139px;
  max-height: 150px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  margin-bottom: 15px;
}
.nxt-course__thumb a {
  width: 100%;
  display: flex;
}
.nxt-course__thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nxt-course__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin: 0;
  color: #ffffff;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 34px;
}

.nxt-course__title a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
  font-weight: inherit;
}

.nxt-course__description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 19.6px;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
  white-space: wrap;
  color: #ffffff;
  margin: 8px 0;
}

.nxt-rating__wrapper {
  display: flex;
  gap: 4px;
}
.nxt-rating__star {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* .nxt-rating__star > svg {
  width: 60px;
} */

.nxt-rating__star .rating__background {
  fill: #ffc1078c;
  stroke: red;
  stroke-width: 1;
  height: 100%;
  width: 100%;
}

.nxt-rating__star .rating__value {
  fill: #ffc107;
  height: 100%;
}

.nxt-rating__wrapper {
  color: #ffc107;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 13.02px;
  line-height: 16.8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nxt-meta__wrapper {
  display: flex;
  align-items: center;
  column-gap: 15px;
  row-gap: 8px;
  flex-wrap: wrap;
}

.nxt-rating__count {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16.8px;
}

.nxt-price__wrapper {
  display: flex;
  align-items: center;
  gap: 7px;
  margin: 8px 0 12px;
}

.nxt-price__new {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.nxt-price__old {
  color: #9e9e9e;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-decoration: line-through;
}

.nxt-button__link {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  border: 1px solid #ffffffbf;
  padding: 10px;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.4px;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #ffffff;
  background-color: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
}

.nxt-button__link:hover {
  border-color: #00000033;
  background: linear-gradient(90deg, #9e6ee5 0%, #fa75f8 100%);
}

.nxt-button {
  display: inline-flex;
  background: linear-gradient(180deg, #fa75f8 0%, #9e6ee5 100%);
  padding: 2px;
  border-radius: 8px;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.2s ease;
}
.nxt-button h6::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 1;
  border-radius: 6px;
  transition: all 0.2s ease;
}
.nxt-button h6 {
  position: relative;
  background: linear-gradient(90deg, #9e6ee5 0%, #fa75f8 100%);
  border-radius: 6px;
  padding: 13px 30px;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: inherit;
}

.nxt-button h6 span {
  position: relative;
  z-index: 1;
}
.nxt-button:hover h6::before {
  background-color: rgba(0, 0, 0, 0.4);
}

h2#verticalTitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.5px;
  color: #a365ff;
  margin-bottom: 9px;
}
#FacetFiltersForm details label .facet-checkbox__text {
  font-size: 0;
}
#FacetFiltersForm details label .facet-checkbox__text-label {
  font-size: 16px;
  text-decoration: none;
}
#FacetFiltersForm details {
  border-top: 0;
}
#FacetFiltersForm details label svg {
  display: none;
}
#FacetFiltersForm details label {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  letter-spacing: -0.16px;
}
.pagination__list a {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
#FacetFiltersForm details label.active,
#FacetFiltersForm details label:hover,
.pagination__list a:hover {
  color: #a365ff;
}
.nxt-related-products__area .related-products__heading {
  color: #fff;
  background: radial-gradient(
    70.54% 70.54% at 50% 50%,
    #fff,
    #ffffff92 92.71%,
    #fff9 92.72%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 44px;
  letter-spacing: -0.16px;
  margin-bottom: 50px;
}
.collection:not(.loading) .loading-overlay {
  display: none !important;
}
#FacetsWrapperDesktop ul.facets-layout {
  max-height: 544px;
  overflow-y: auto;
}
#FacetsWrapperDesktop ul.facets-layout::-webkit-scrollbar {
  width: 6px;
  height: auto;
  background-color: #333353;
}
#FacetsWrapperDesktop ul.facets-layout::-webkit-scrollbar-thumb {
  background-color: #737389;
}
.facets-container {
  padding-top: 0 !important;
}
@media (min-width: 750px) {
  .page-width {
    padding: 0 !important;
  }
  .nxt-collection__area {
    padding-left: 15px;
    padding-right: 15px;
  }
  .nxt-related-products__area {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 767px) and (max-width: 1200px) {
  :root {
    --grid-desktop-horizontal-spacing: 15px !important;
    --grid-desktop-vertical-spacing: 15px !important;
  }
}

@media (min-width: 767px) and (max-width: 989px) {
  #product-grid .grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }
}
@media (min-width: 500px) and (max-width: 989px) {
  .nxt-related-products__area .product-grid {
    justify-content: center;
  }
  .nxt-related-products__area .product-grid .grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }
}
@media (max-width: 499px) {
  .nxt-course__card {
    width: 100%;
  }
  .facets-container {
    margin-bottom: 24px;
  }
  .nxt-related-products__area .related-products__heading {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
  }
}
